---
import Button from '@components/Button.astro';
import Heading from '@components/Heading.astro';
import ProjectThumbnail from '@components/ProjectThumbnail.astro';
import Tag from '@components/Tag.astro';

import Layout from '@layouts/Layout.astro';

import { getProjectsData } from './ProjectsData.astro';
import { Icon } from 'astro-icon/components';
import { getLangFromUrl, useTranslations } from 'src/i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const projects = getProjectsData(lang);
---

<Layout>
  <Heading slot="header" variant="primary" tag="h1">
    {t('projects.heading')}
  </Heading>
  <article slot="main">
    <div class="mt-10 flex flex-col gap-20 lg:gap-28 lg:mt-10 2xl:gap-32">
      {
        projects.map(({ description, repo, live, title, tags, image }, idx) => {
          return (
            <article class="flex flex-col gap-4 lg:gap-6">
              <Heading tag="h2" variant="secondary">
                {title}
              </Heading>
              <ProjectThumbnail
                image={image}
                title={title}
                priority={idx === 0}
              />
              <ul class="flex flex-wrap gap-x-2 gap-y-1.5 lg:gap-x-4">
                {tags.map((tagText) => (
                  <Tag text={tagText} />
                ))}
              </ul>
              <p class="text-primary text-lg lg:max-w-2xl leading-normal font-medium">
                {description}
              </p>
              <div class="flex gap-x-4 gap-y-2 flex-wrap">
                <Button buttonType="link" href={live} variant="primary">
                  {t('projects.live')}
                  <Icon name="ph:arrow-right" class="h-5 w-5 -rotate-45" />
                </Button>
                <Button buttonType="link" href={repo} variant="secondary">
                  {t('projects.repo')}
                  <Icon name="ph:arrow-right" class="h-5 w-5 -rotate-45" />
                </Button>
              </div>
            </article>
          );
        })
      }
    </div>
  </article>
</Layout>
