---
import Heading from '@components/Heading.astro';
import ProjectsButton from '@components/ProjectsButton.astro';
import ProjectThumbnail from '@components/ProjectThumbnail.astro';
import Tag from '@components/Tag.astro';

import Layout from '@layouts/Layout.astro';

import { getProjectsData } from './Projects.data';
import { projectsRoute } from 'src/i18n/translations/routes';
import { getLangFromUrl, useTranslations } from 'src/i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const projects = getProjectsData(lang);
---

<Layout routes={projectsRoute}>
  <Heading slot="header" variant="primary" tag="h1">
    {t('projects.heading')}
  </Heading>
  <article slot="main">
    <div class="mt-8 flex flex-col gap-20 lg:gap-28 xl:mt-16 2xl:gap-32">
      {
        projects.map(
          ({ description, repo, live, fileName, title, tags }, index) => {
            return (
              <article class="flex flex-col gap-4 lg:gap-6">
                <ProjectThumbnail
                  lazyLoad={index !== 0}
                  fileName={fileName}
                  title={title}
                />
                <Heading tag="h2" variant="secondary">
                  {title}
                </Heading>
                <ul class="flex flex-wrap gap-x-2 gap-y-1.5 lg:gap-x-4">
                  {tags.map((tagText) => (
                    <Tag text={tagText} />
                  ))}
                </ul>
                <p class="text-primary lg:max-w-3xl">{description}</p>
                <div class="flex gap-4 lg:gap-4">
                  <ProjectsButton href={live} variant="primary" />
                  <ProjectsButton href={repo} variant="secondary" />
                </div>
              </article>
            );
          }
        )
      }
    </div>
  </article>
</Layout>
