---
import Heading from '@components/Heading.astro';
import ProjectsButton from '@components/ProjectsButton.astro';
import ProjectThumbnail from '@components/ProjectThumbnail.astro';
import Tag from '@components/Tag.astro';

import Layout from '@layouts/Layout.astro';

import { getProjectsData } from './ProjectsData.astro';
import { getLangFromUrl, useTranslations } from 'src/i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const projects = getProjectsData(lang);
---

<Layout>
  <Heading slot="header" variant="primary" tag="h1">
    {t('projects.heading')}
  </Heading>
  <article slot="main">
    <div class="mt-8 flex flex-col gap-20 lg:gap-28 xl:mt-16 2xl:gap-32">
      {
        projects.map(({ description, repo, live, title, tags, image }) => {
          return (
            <article class="flex flex-col gap-4 lg:gap-6">
              <ProjectThumbnail image={image} title={title} />
              <ul class="flex flex-wrap gap-x-2 gap-y-1.5 lg:gap-x-4">
                {tags.map((tagText) => (
                  <Tag text={tagText} />
                ))}
              </ul>
              <Heading tag="h2" variant="secondary">
                {title}
              </Heading>
              <p class="text-primary lg:max-w-3xl">{description}</p>
              <div class="flex gap-x-4 gap-y-2 flex-wrap">
                <ProjectsButton href={live} variant="primary" />
                <ProjectsButton href={repo} variant="secondary" />
              </div>
            </article>
          );
        })
      }
    </div>
  </article>
</Layout>
