---
import { Image } from "astro:assets";
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<Layout>
  <div class="flex flex-col gap-4 p-4 pb-8">
    <h2 class="text-lg">Blog - luźne przemyślenia, nie brać na poważnie</h2>
    <div class="flex flex-col gap-4 text-sm">
      {
        posts.map((post) => {
          return (
            <a href={"/blog/" + post.id}>
              <article class="relative flex flex-col gap-4 overflow-hidden border-2 p-4">
                <div class="before:bg-blog-gradient absolute top-0 right-0 -z-10 flex h-full items-center justify-end before:absolute before:h-full before:w-full before:content-['']">
                  <Image
                    src={post.data.heroImage}
                    width={256}
                    height={256}
                    alt={post.data.title}
                    class="h-40 w-40"
                  />
                </div>
                <header class="aling-center flex justify-between text-base">
                  <h3>{post.data.title}</h3>
                  <p>
                    <time datetime={post.data.pubDate.toLocaleDateString()}>
                      {post.data.pubDate.toLocaleDateString()}
                    </time>
                  </p>
                </header>
                <p class="text-muted-foreground">{post.data.description}</p>
              </article>
            </a>
          );
        })
      }
    </div>
  </div>
</Layout>
