---
export const prerender = true;

import { Image } from "astro:assets";
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";
import { mainEntrance } from "../utils/animation";

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<Layout>
  <div class="flex flex-col gap-8 pb-8">
    <h1 class="lg:text-lg">Luźny mikro blog, nie brać na poważnie</h1>
    <div class="flex flex-col gap-6 text-sm">
      {
        posts.map((post) => {
          const formattedTime = new Intl.DateTimeFormat("pl").format(
            post.data.pubDate
          );

          return (
            <a href={"/blog/" + post.id}>
              <article class="shadow-blog relative flex flex-col gap-4 overflow-hidden rounded p-4">
                <div class="before:bg-blog-gradient absolute top-0 right-0 -z-20 flex h-full items-center justify-end opacity-80 before:absolute before:h-full before:w-full before:content-['']">
                  <Image
                    format="avif"
                    src={post.data.heroImage}
                    width={256}
                    height={256}
                    alt={post.data.title}
                    class="h-40 w-40"
                  />
                </div>
                <header class="aling-center flex items-start justify-between text-base">
                  <h2
                    class="text-foreground w-[65%] text-sm font-semibold text-pretty lg:text-base"
                    transition:name={`blog-header:${post.id}`}
                    transition:animate={mainEntrance}>
                    {post.data.title}
                  </h2>
                  <p class="before:bg-background/90 relative text-sm before:absolute before:top-0 before:left-0 before:-z-10 before:h-full before:w-full before:blur-lg lg:text-base">
                    <time datetime={formattedTime}>{formattedTime}</time>
                  </p>
                </header>
                <p class="text-muted-foreground text-sm text-pretty lg:text-base">
                  {post.data.description}
                </p>
              </article>
            </a>
          );
        })
      }
    </div>
  </div>
</Layout>
