---
import { Picture } from "astro:assets";
import { getCollection } from "astro:content";
import { calculateReadingTime } from "../utils/calculate-read-time";
import Views from "./Views.astro";
import { mainEntrance } from "../utils/animation";

type Props = {
  text: string;
};

const { text } = Astro.props;

const allBlogPosts = await getCollection("blog");

const currPost = allBlogPosts.find((post) => post.data.title === text);

const formattedTime = new Intl.DateTimeFormat("pl").format(
  currPost?.data.pubDate
);

const readTime = calculateReadingTime(currPost?.body || "");
---

<header
  data-hero
  class="relative -mx-5 flex h-80 flex-col items-center justify-center gap-4 lg:mx-0 lg:h-84">
  {
    currPost?.data.heroImage && (
      <div
        data-blog-hero-bg
        class="absolute top-0 left-0 -z-10 mx-auto h-full w-full overflow-hidden rounded blur-sm lg:blur lg:saturate-150">
        <div class="bg-blog-hero-gradient absolute top-0 left-0 h-full w-full" />
        <Picture
          src={currPost.data.heroImage}
          alt={text}
          width={200}
          height={100}
          format="avif"
          class="h-full w-full object-cover"
        />
      </div>
    )
  }

  {
    currPost?.data.heroImage && (
      <Picture
        src={currPost.data.heroImage}
        width={512}
        height={512}
        alt={text}
        format="avif"
        class="shadow-blog h-42 w-42 rounded-sm"
      />
    )
  }

  <div class="z-30 flex flex-col gap-2 text-center text-balance">
    <h1
      class="text-foreground z-50 max-w-full px-5 text-center text-xl font-bold lg:max-w-prose lg:text-2xl">
      {text}
    </h1>
    <p class="text-muted-foreground text-center text-sm">
      <time datetime={formattedTime}>
        {formattedTime}
      </time>
      | {readTime} min. czytania
      <Views server:defer postId={currPost?.id || ""}>
        <span slot="fallback"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
      </Views>
    </p>
  </div>
</header>

<style>
  [data-blog-hero-bg] {
    animation: blog-hero 1s ease-out forwards;
    animation-delay: 100ms;
  }

  @keyframes blog-hero {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 0.35;
    }
  }

  [data-hero] {
    opacity: 0;
    filter: blur(2px);
    animation: views 1s ease-out forwards;
  }

  @keyframes views {
    0% {
      opacity: 0;
      filter: blur(3px);
    }
    100% {
      opacity: 1;
      filter: none;
    }
  }
</style>
