---
import type { ImageMetadata } from "astro";
import github from "../assets/github.svg";
import xIcon from "../assets/x.svg";
import cvIcon from "../assets/cv.svg";
import linkedin from "../assets/linkedin.svg";
import { Image } from "astro:assets";
import { fade } from "astro:transitions";

type Social = {
  url: string;
  icon: ImageMetadata;
  name: string;
};

const socials: Array<Social> = [
  {
    name: "GitHub",
    icon: github,
    url: "https://github.com/maciejgarncarski"
  },
  {
    name: "LinkedIn",
    icon: linkedin,
    url: "https://www.linkedin.com/in/maciejgarncarski/"
  },
  {
    name: "X",
    icon: xIcon,
    url: "https://x.com/MGarncarski"
  },
  {
    name: "CV",
    icon: cvIcon,
    url: "/cv.pdf"
  }
];
---

<footer
  class="flex flex-col gap-3 lg:mt-20 lg:gap-6"
  transition:name="footer"
  transition:animate={fade({ duration: 0.8 })}>
  <div class="flex flex-col gap-3 lg:flex-row lg:gap-6">
    <div class="flex justify-center gap-6">
      {
        socials.map((s) => {
          return (
            <a href={s.url} target="_blank" class="w-fit" title={s.name}>
              <Image
                src={s.icon}
                alt=""
                width="24"
                height="24"
                class="h-5 lg:h-6 dark:invert-100"
              />
              <span class="sr-only">{s.name}</span>
            </a>
          );
        })
      }
    </div>
    <p class="text-center text-sm lg:ml-auto lg:text-right">
      &copy; 2025 Maciej Garncarski. <br /> Wszelkie prawa zastrzeżone.
    </p>
  </div>
  <div class="flex flex-col justify-between lg:flex-row">
    <p class="text-muted-foreground text-center text-xs lg:text-left">
      Commit: {(import.meta.env.CF_PAGES_COMMIT_SHA || "dev").slice(0, 10)}
    </p>

    <p class="text-muted-foreground text-center text-xs lg:text-right">
      Built with {Astro.generator} 🚀
    </p>
  </div>
</footer>
