---
import { REDIS_URL, REDIS_PASS } from "astro:env/server";
import { Redis } from "@upstash/redis";

type Props = {
  postId: string;
};

const { postId } = Astro.props;

const clientIP = Astro.clientAddress;
const blogViewKey = `blog:views:${postId}:viewed:${clientIP}`;

const redisClient = new Redis({
  url: REDIS_URL,
  token: REDIS_PASS
});

const viewedCookie = Astro.cookies.get("blogView" + postId);
const hasViewedCookie = viewedCookie?.value === "true";
const hasViewed = hasViewedCookie ? true : await redisClient.get(blogViewKey);

const isDevIp = clientIP === "127.0.0.1";

if (!hasViewed && !isDevIp) {
  await redisClient.incr(`blog:views:${postId}`);
  await redisClient.set(blogViewKey, "true");
}

Astro.cookies.set("blogView" + postId, "true", {
  maxAge: 60 * 60 * 24 * 30 * 6,
  httpOnly: true,
  sameSite: "strict",
  secure: import.meta.env.NODE_ENV === "development" ? false : true
});

const views = await redisClient.get(`blog:views:${postId}`);
---

<span title={`Wyświetlenia: ${views}`}>
  |
  <span class="inline-flex items-center justify-center gap-2 align-bottom">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="17"
      height="17"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
      class="lucide lucide-eye"
      ><path
        d="M2.062 12.348a1 1 0 0 1 0-.696 10.75 10.75 0 0 1 19.876 0 1 1 0 0 1 0 .696 10.75 10.75 0 0 1-19.876 0"
      ></path><circle cx="12" cy="12" r="3"></circle></svg
    >
    {views}
  </span>
</span>
