---
import LanguagePicker from '@components/LanguagePicker.astro';
import Nav from '@components/Nav.astro';
import ScrollUpButton from '@components/ScrollUpButton.astro';

import '@fontsource/montserrat';
import '@styles/tw-base.css';
import { getLangFromUrl } from '../i18n/utils';
import { Icon } from 'astro-icon';
import { title } from 'src/utils/ui';

const lang = getLangFromUrl(Astro.url);

export type Props = {
  routes: Record<'en' | 'pl', string>;
  hiddenNav?: boolean;
};

const { routes, hiddenNav } = Astro.props;

const socials = [
  {
    name: 'linkedin',
    link: 'https://www.linkedin.com/in/maciej-garncarski/'
  },
  {
    name: 'github',
    link: 'https://github.com/maciejgarncarski'
  },
  {
    name: 'twitter',
    link: 'https://twitter.com/MGarncarski'
  }
] as const;
---

<!DOCTYPE html>
<html class="bg-waves" lang={lang}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body
    class="mb-0 border-2 border-b-0 border-primary px-6 sm:border-layout lg:border-layout-desktop lg:border-b-0 lg:px-10"
  >
    {!hiddenNav && <Nav />}
    <main
      class="min-h-[70vh] pb-10 md:mx-auto md:max-w-2xl lg:min-h-[85vh] lg:max-w-4xl lg:pb-24 lg:pt-16"
    >
      <slot />
    </main>
    <footer
      class="-mx-6 min-h-[160px] bg-primary px-6 py-6 text-white lg:-mx-10"
    >
      <div class="mx-auto md:max-w-2xl lg:max-w-4xl">
        <LanguagePicker routes={routes} />
        <ul class="mt-4 flex gap-6">
          {
            socials.map(({ link, name }) => {
              return (
                <li>
                  <a
                    href={link}
                    class="flex gap-1 font-semibold"
                    target="_blank"
                  >
                    {name}
                    <Icon
                      name="ph:arrow-up-right"
                      class="h-5 w-5 lg:h-6 lg:w-6"
                    />
                  </a>
                </li>
              );
            })
          }
        </ul>
        <p class="mt-4 max-w-prose text-xs">
          &#169; {new Date().getFullYear()} Maciej Garncarski. All rights reserved.
        </p>
      </div>
    </footer>
    <ScrollUpButton />
  </body>
</html>
