---
import "../styles/global.css";
import { ClientRouter } from "astro:transitions";
import "@fontsource-variable/jetbrains-mono";
import type { ImageMetadata } from "astro";
import clsx from "clsx";
import github from "../assets/github.svg";
import xIcon from "../assets/x.svg";

type Social = {
  url: string;
  icon: ImageMetadata;
  name: string;
};

const socials: Array<Social> = [
  {
    name: "GitHub",
    icon: github,
    url: "https://github.com/maciejgarncarski"
  },
  {
    name: "X",
    icon: xIcon,
    url: "https://x.com/M4460687290657"
  }
];

type Link = {
  url: string;
  text: string;
};

const navigationData: Array<Link> = [
  {
    text: "O mnie",
    url: "/"
  },
  {
    text: "Projekty",
    url: "/projekty/"
  },
  {
    text: "Kontakt",
    url: "/kontakt/"
  }
];
---

<!doctype html>
<html lang="pl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link
      rel="icon"
      href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>💻</text></svg>"
    />
    <meta name="generator" content={Astro.generator} />
    <title>MG dev</title>
    <ClientRouter />
  </head>
  <body class="bg-white p-1 text-black md:p-0 dark:bg-black dark:text-white">
    <div class="mx-auto max-w-[50rem] border-4 md:my-6">
      <header
        class="flex flex-col items-center gap-1 border-b-4 p-3 text-center md:flex-row md:gap-4 md:p-4 md:text-left">
        <h1 class="text-2xl uppercase">Maciej Garncarski</h1>
        <span class="hidden md:inline">&#x2022;</span>
        <p class="uppecase text-2xl">Fullstack developer</p>
      </header>
      <nav class="border-b-4 p-4">
        <ul class="flex gap-8">
          {
            navigationData.map((n) => {
              const isActive = n.url === Astro.url.pathname;

              return (
                <li>
                  <a href={n.url} class={clsx(isActive && "underline")}>
                    {n.text}
                  </a>
                </li>
              );
            })
          }
        </ul>
      </nav>
      <main class="min-h-[30rem] border-b-4">
        <slot />
      </main>
      <footer class="flex items-center gap-6 p-4">
        {
          socials.map((s) => {
            return (
              <a href={s.url} target="_blank" class="w-fit">
                <img
                  src={s.icon.src}
                  alt={s.name}
                  width="30"
                  height="30"
                  class="dark:invert-100"
                />
                <span class="sr-only">{s.name}</span>
              </a>
            );
          })
        }
        <p class="ml-auto text-right text-xs md:text-sm">
          &copy; 2025 Maciej Garncarski. <br /> Wszelkie prawa zastrzeżone.
        </p>
      </footer>
    </div>
  </body>
</html>
