---
import Footer from '@components/Footer.astro';
import Nav from '@components/Nav.astro';

import '@fontsource/poppins/100.css';
import '@fontsource/poppins/200.css';
import '@fontsource/poppins/300.css';
import '@fontsource/poppins/400.css';
import '@fontsource/poppins/500.css';
import '@fontsource/poppins/600.css';
import '@fontsource/poppins/700.css';
import '@fontsource/poppins/800.css';
import '@fontsource/poppins/900.css';
import '@styles/tw-base.css';
import { getLangFromUrl } from '../i18n/utils';
import { ViewTransitions } from 'astro:transitions';
import { description, keywords, title } from 'src/utils/seo';

const lang = getLangFromUrl(Astro.url);
---

<!doctype html>
<html class="bg-primary" lang={lang}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" type="image/png" href="/favicons/favicon-32x32.png" />
    <title>{title}</title>
    <meta name="description" content={description[lang]} />
    <meta name="keywords" content={keywords} />
    <link
      rel="preload"
      fetchpriority="high"
      as="image"
      href="/white-waves.webp"
      type="image/webp"
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/favicons/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/favicons/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/favicons/favicon-16x16.png"
    />
    <link rel="manifest" href="/site.webmanifest" />
    <link
      rel="mask-icon"
      href="/favicons/safari-pinned-tab.svg"
      color="#1e293b"
    />
    <meta name="msapplication-TileColor" content="#1e293b" />
    <meta name="theme-color" content="#1e293b" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <ViewTransitions fallback="animate" />
  </head>
  <body
    class="mb-0 min-h-screen border border-b-0 border-primary text-primary antialiased dark:text-primary xs:border-layout lg:border-x-layout-desktop-x lg:border-y-layout-desktop-y md:border-x-layout-tablet-x md:border-y-layout-tablet-y md:border-b-0 font-poppins">
    <div class="bg-waves bg-white rounded md:rounded-md p-5">
      <Nav transition:persist />
      <div
        class="min-h-[70vh] pb-10 md:mx-auto md:min-h-[80vh] md:w-[40rem] lg:w-2xl lg:min-h-[75vh] md:pb-24 md:pt-16">
        <header data-header transition:animate="none">
          <slot name="header" />
        </header>
        <main data-main>
          <slot name="main" />
        </main>
      </div>
    </div>
    <Footer transition:persist />
  </body>
</html>
