---
import Footer from '@components/Footer.astro';
import Nav from '@components/Nav.astro';

import '@fontsource/poppins/400.css';
import '@fontsource/poppins/500.css';
import '@fontsource/poppins/700.css';
import '@fontsource/poppins/900.css';
import '@styles/tw-base.css';
import { getLangFromUrl } from '../i18n/utils';
import { ClientRouter, fade } from 'astro:transitions';
import { description, keywords, title } from 'src/utils/seo';
const lang = getLangFromUrl(Astro.url);

const animations = {
  new: {
    name: 'animation-in',
    duration: '0.8s',
    easing: 'ease-in-out'
  }
};

const customAnimation = {
  forwards: animations,
  backwards: animations
};
---

<!doctype html>
<html class="bg-primary" lang={lang} transition:name="none">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta name="description" content={description[lang]} />
    <meta name="keywords" content={keywords} />
    <link
      rel="preload"
      fetchpriority="high"
      as="image"
      href="/white-waves.webp"
      type="image/webp"
    />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <meta name="theme-color" content="#1e293b" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <meta name="color-scheme" content="dark" />
    <ClientRouter fallback="swap" />
  </head>
  <body
    class="mb-0 min-h-screen border border-b-0 border-primary text-primary antialiased dark:text-primary xs:border-layout lg:border-x-layout-desktop-x lg:border-y-layout-desktop-y md:border-x-layout-tablet-x md:border-y-layout-tablet-y md:border-b-0 font-poppins">
    <div class="bg-waves bg-white rounded md:rounded-md p-5 min-h-[85dvh]">
      <Nav />
      <div class="pb-10 md:mx-auto md:w-[40rem] lg:w-2xl md:pb-20 md:pt-16">
        <header>
          <slot name="header" />
        </header>
        <main transition:animate={customAnimation} class="w-full">
          <slot name="main-content" />
        </main>
      </div>
    </div>
    <Footer transition:persist />
  </body>
</html>

<style is:global>
  @keyframes animation-in {
    0% {
      opacity: 0;
      transform: translateY(50px);
    }
    50% {
      opacity: 1;
      transform: translateY(0px);
    }
  }
</style>
