---
import Footer from '@components/Footer.astro';
import Nav from '@components/Nav.astro';
import ScrollUpButton from '@components/ScrollUpButton.astro';

import '@fontsource/montserrat';
import '@styles/tw-base.css';
import { getLangFromUrl } from '../i18n/utils';
import { description, keywords, title } from 'src/utils/ui';

const lang = getLangFromUrl(Astro.url);

export type Props = {
  routes: Record<'en' | 'pl', string>;
  hiddenNav?: boolean;
};

const { routes, hiddenNav } = Astro.props;
---

<!DOCTYPE html>
<html class="bg-white bg-waves xl:bg-fixed" lang={lang}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta name="description" content={description[lang]} />
    <meta name="keywords" content={keywords} />
  </head>
  <body
    class="mb-0 border-2 border-b-0 border-primary px-3 text-primary dark:text-primary sm:border-layout sm:px-6 lg:border-layout-desktop lg:border-b-0 lg:px-10">
    {!hiddenNav && <Nav />}
    <main
      class="min-h-[70vh] pb-10 md:mx-auto md:min-h-[80vh] md:max-w-lg lg:min-h-[85vh] lg:max-w-3xl lg:pb-24 lg:pt-16">
      <slot />
    </main>
    <Footer routes={routes} />
    <ScrollUpButton />
  </body>
</html>
